/* .basket-main{
	cursor: pointer;
	margin: 0;
	padding: 0;
	background: url("../../img/cart.png") no-repeat 0 0;
	height:60px;
	width: 60px;
	border:0;
	transition: all 0.3s;
}
.basket-main:hover{
	scale: 1.1;
} */

.basketTopWrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
padding: 20px 10px;
}
.basketTopText{
	width: 80px;
	font-size: 25px;
}
.deleteAllBasket{
	cursor: pointer;
	width: 150px;
	height: 40px;
	font-size: 15px;
	background-color: #f2f6f8;
	border: none;
	box-shadow: 1px 2px 2px 2px #ced4da;
	border-radius: 20px;
	transition: all 0.3s;
}
.deleteAllBasket:hover{
	background-color: #dee5eb;
	scale: 1.1;
}
.basketWrapper{
	display: grid;
	max-width: 600px;
	width: 100%;
	max-height: 1000px;
	border: 1px solid rgb(182, 182, 182);
	box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
	border-radius: 10px;
	padding: 50px 50px;
	position: fixed;
	top:120px ;
	right: 100px;
	background: white;
	z-index: 10;
}

.itemWrapper{
justify-content: space-around;
overflow: auto;
max-height: 400px;
height: 100%;
}

.itemContainer{
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 4fr 1fr 1fr;
	border-top:  1px solid #E1E8EE;
	border-bottom:  1px solid #E1E8EE;
}
.itemContainer>p{
	padding: 10px 10px 10px 30px;
	display: grid;
	grid-template-rows: 70px;

	align-items: center;
	border-collapse: collapse;
}

.basket__img{
	display: flex;
	align-items: center;
	height: 70px;
	padding: 5px;

}
.itemDelete{
	margin: 0 20px 0 40px;
	cursor: pointer;
	width: 40px;
	height: 30px;
	font-size: 15px;
	background-color: #f2f6f8;
	border: none;
	box-shadow: 1px 2px 2px 2px #ced4da;
	border-radius: 20px;
	transition: all 0.3s;
}
.itemDelete:hover{
	background-color: #dee5eb;
}

.discountWrapper{
	display: flex;
	margin-top: 20px;
grid-template-columns: 1fr 1fr;
justify-content: flex-end;

}
.discountWrapper>.Discount{
	margin-right: 20px;
	font-size: 20px;
	
}
.totalPriceWrapper{
	display: flex;
	margin-top: 20px;
grid-template-columns: 1fr 1fr;
justify-content: flex-end;
}
.totalPriceWrapper>p{
	margin-right: 20px;
	font-size: 20px;
} 
.buyBasket{
	margin-top: 30px;
	cursor: pointer;
	text-align: center;
	padding-left: auto;
	padding-right: auto;
	border: none;
	height: 40px;
	width: 200px;
	background-color: #f2f6f8;
	box-shadow: 1px 2px 2px 2px #ced4da;
	border-radius: 10px;
	transition: all 0.3s;
}
.buyBasket:hover{
	background-color: #dee5eb;
	box-shadow: 1px 2px 2px 2px #ced4da;
	scale: 1.1;
}

.fieldOverlay{
	background-color: rgba(14, 24, 24, 0.327);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
}

/* scrollbar */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: rgb(188, 188, 188);
}
::-webkit-scrollbar-thumb:hover {
	background: rgb(129, 128, 128);
}
