 /* .header {
    width: 100%;
    height: 168px;
    background-image: url(../../img/);  не видит файлов, хотя на компе они есть 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}  */