body {
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 168px;
    background-image: url(../../img/header_background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header__container {
    width: 78%;
    height: 60px;
    display: flex;
    position: relative;
    top: 50px;
    left: 11%;
    
}
.header__logo {
    width: 240px;
    height: 57px;
    background-image: url(../../img/header_logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.searchInput {
    width: 60%;
    height: 56px;
    background-color: rgba(255,255,255,.2);
    border-radius: 56px;
    border: none;
    position: relative;
    font-size: 18px;
    line-height: 24px;
    margin: 0 50px;
}
.searchInput:hover {
    background: rgba(255, 255, 255, 0.5);
    transition: background .3s ease 0s;
}
.header__container_nav {
    display: block;
}
.header__container_nav_icons {
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
}
.header__container_nav_title {
    width: 230px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    font-family: system,-apple-system,BlinkMacSystemFont,'Segoe UI','Segoe WP',Roboto,Ubuntu,Oxygen,Cantarell,'Fira Sans','Helvetica Neue',Helvetica,'Lucida Grande','Droid Sans',Tahoma,'Microsoft Sans Serif',sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
}
.header__address {
    width: 16px;
    height: 24px;
    background-image: url(../../img/address.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header__profile{
    width: 19px;
    height: 20px;
    background-image: url(../../img/profile.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header__basket {
    width: 27px;
    height: 27px;
    background-image: url(../../img/basket.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}