.popUp {
    display: none;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .7;
    z-index: 200;
}

.quick-view__wrapper {
    max-width: 800px;
    height: 800px;
    width: 100%;
    position: fixed;
    left: 50%;
    border-radius: 30px;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 250;
    display: flex;
    overflow: hidden;
}

.quick-view__img-wrapper {
    width: 70%;
    position: relative;
}

.quick-view__close {
    position: absolute;
    right: 20px;
    top: 15px;
    width: 30px;
    height: 30px;
    opacity: .3;
    transition: .3s;
    cursor: pointer;
    z-index: 300;
}

.quick-view__close::after,
.quick-view__close::before {
    position: absolute;
    content: '';
    height: 2px;
    left: 5px;
    top: 14px;
    width: 20px;
    background-color: #000;
}

.quick-view__close::after {
    transform: rotate(45deg);
}

.quick-view__close::before {
    transform: rotate(-45deg);
}

.quick-view__close:hover {
    opacity: .7;
}

.quick-view__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: zoom-in;
}

.quick-view__description {
    width: 30%;
    padding: 120px 20px;
    box-sizing: border-box;
    box-shadow: -10px 0px 40px -35px #000;
    position: relative;
    background-color: #fff;
}

.quick-view__price {
    text-decoration: line-through;
    opacity: .5;
    font-size: 20px;
}

.quick-view__discount-price {
    font-size: 25px;
    margin-top: 40px;
    font-weight: bold;
}

.quick-view__thing {
    font-size: 30px;
    font-weight: bold;
}

.quick-view__discount {
    font-size: 30px;
    position: absolute;
    bottom: 30px;
    color: purple;
    right: 30px;
    background-color: #fff;
    text-transform: uppercase;
    border-radius: 20px;
}

.quick-view__basket-add-btn {
    position: absolute;
    background-color: #cb11ab;
    color: #fff;
    border: 0;
    font-size: 16px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 7px;
    bottom: 30px;
}