.slider {
  border-radius: 25px 25px 0 0;
  margin-top: -20px;
  background-color: rgb(255, 255, 255);
  padding: 0 32px;
}

.adaptivn-slayder{
  padding-top: 35px;
  max-width: 100%;
  position: relative;
  margin: auto;
  height: 400px;
  margin-bottom: 15px;
  border-radius: 25px;
 
}
  
.adaptivn-slayder .parag img {
  object-fit: cover;
  width: 100%;
  height: 400px;
  border: none !important;
  box-shadow: none !important;
  border-radius: 25px;
  cursor: pointer;
 
}

.adaptivn-slayder .prev, .adaptivn-slayder .next {
  opacity: 0.7;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  width: 50px;
  height: 50px;
  color: rgb(100, 11, 78);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 50%;
  border: none;
  float: none;
  z-index: 99;
}
.adaptivn-slayder .prev{
  margin-left: 20px;
  border-bottom-color:#545557;
  cursor: pointer;
}
.adaptivn-slayder .next {
  right: 0;
  border-radius: 50%;
  border: none;
  margin-right: 20px;
  border-bottom-color:#545557;
  cursor: pointer;
}

.adaptivn-slayder .prev:hover,
.adaptivn-slayder .next:hover {
  background-color: rgba(241, 217, 217, 0.829);
  float: none;
}

.kadr {
  text-align: center;
}
.point-kadr{
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.deystvuyus,
.point-kadr:hover {
  background-color: rgb(185, 79, 141);
}

.adaptivn-slayder .parag {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
  opacity: .4
  }
  to {
  opacity: 1
  }
}
@keyframes fade {
  from {
  opacity: .4
  }
  to {
  opacity: 1
  }
}
  
@media screen and (max-width: 950px) {
  .slider {
      margin-top: 0;
  }
}